N8N Concept(json, data, login, AI).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Email automation\nFirst email sent through n8n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        272
      ],
      "id": "97e7bfde-db0b-4c07-8a4f-c78c04615f86",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "2022-3-60-063@std.ewubd.edu",
        "subject": "First use of n8n",
        "emailType": "text",
        "message": "Congrads.!! You learned how to send e-mail using n8n.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        480
      ],
      "id": "b45f1df3-577c-45d0-8c23-bf8865e420b5",
      "name": "Send a message",
      "webhookId": "9270c220-85e3-4e5c-8a3c-10ce618fef12",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "vHUGKaQS1SMykZin",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Form Fill -> Ai Autoresponder\nUse of \"form fill\" trigger and learn how to use ai for automating messages",
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        688
      ],
      "id": "ec14484a-6466-4316-a0d5-44e63ff5f2d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "formTitle": "Onboarding Form",
        "formDescription": "Let's get onboard star start booming soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name : ",
              "placeholder": "Sami",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name : ",
              "defaultValue": "Subhan",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail : ",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number :",
              "placeholder": "01X XXXX XXXX",
              "requiredField": true
            },
            {
              "fieldLabel": "Work Description : ",
              "placeholder": "What's your expectation from us..",
              "requiredField": true
            },
            {
              "fieldLabel": "Site Type :",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sleek"
                  },
                  {
                    "option": "Minimalistic"
                  },
                  {
                    "option": "Luxurious"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Timeline : ",
              "placeholder": "3-4 weeks",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Let's Go"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -464,
        944
      ],
      "id": "1402f45c-bac2-4ee7-8915-d4dc72e59aab",
      "name": "On form submission",
      "webhookId": "1141a336-f091-4ced-9dad-642cd40926f1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "I want you identify yourself as an intelligent email writing assistent. I want you to just customize the email template based on the data nothing else so that i can directly put it to the mail content section.\nMake sure it is gramatically correct. make it look professional. "
            },
            {
              "content": "=I want you to customixe email based on the provided info. just write the email contends so dont specify anything. \n\nfirst name : {{ $json['First Name : '] }}\nlast name : {{ $json['Last Name : '] }}\ne-mail : {{ $json['E-mail : '] }}\nphone number : {{ $json['Phone Number :'] }}\nwork description : {{ $json['Work Description : '] }}\nsite type : {{ $json['Site Type :'] }}\ntimeline : {{ $json['Timeline : '] }}\n\n\n\nE-mail template:\n\nHello (First name)\n\nHow are you? I just received your onboarding form's data. It seems you want use to make you (paraphrased Work description). You're preferring the site to be (side type) and within (timeline).\n\nCould you please confirm your phone number (Phone Number) one last time?\n\nThanks\nNSS\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -240,
        944
      ],
      "id": "57b94261-2f05-455a-987b-a89d92041676",
      "name": "Message a model",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['E-mail : '] }}",
        "subject": "Re: Your onboarding form",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        944
      ],
      "id": "3ed686a2-a64b-4231-92d4-43a8d11895a2",
      "name": "Send a message1",
      "webhookId": "9270c220-85e3-4e5c-8a3c-10ce618fef12",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "vHUGKaQS1SMykZin",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 125
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        944
      ],
      "id": "8331452a-6233-45d9-9c96-d9e7d35dfee8",
      "name": "Wait",
      "webhookId": "50a7c7ce-ef97-45f5-b80d-8f7c2c7e4e5c"
    },
    {
      "parameters": {
        "content": "## Calender Booking -> Update -> CRM\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        1184
      ],
      "id": "0ec63f34-b57f-42f3-b99d-da8ce5a68343",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are writing cold outreach emails to candidates. \n\nGuidelines:\n1. Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language, corporate jargon, or fake enthusiasm.\n2. Look for plausible (but vague) connections wherever possible using their provided LinkedIn data.\n3. Do not just repeat data from the LinkedIn profile verbatim. Paraphrase everything so it looks like a human wrote it quickly.\n4. Make sure the subject line is non-capitalized, even if it's grammatically incorrect. This makes the email seem human.\n5. Respond ONLY in valid JSON using this exact format to map to our database:\n\n{\"Subject\":\"\", \"Icebreaker\":\"\", \"CompiledEmail\":\"\", \"CallToAction\":\"\", \"Postscript\":\"\"}"
            },
            {
              "content": "=Candidate Data:\n- First Name: {{ $json['First Name'] }}\n- Last Name: {{ $json['Last Name'] }}\n- Title: {{ $json['Title'] }}\n- Company: {{ $json['Company Name'] }}\n- Summary: {{ $json['Summary'] }}\n- Description: {{ $json['Description on LinkedIn profile'] }}\n\nGenerate the JSON object following the strict guidelines. \n\nFor the \"CompiledEmail\" key, assemble the text as follows:\nStart with \"hey [First Name],\" \nAdd the Icebreaker. \nAdd 1-2 spartan sentences pitching an engineering transition to our team. \nAdd the CallToAction. \nSign off with \"cheers, [Your Name]\". \nAdd the Postscript. \nUse \\n for line breaks. Do not capitalize the first letter of sentences if it helps sell the casual tone."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -304,
        1360
      ],
      "id": "5e97e640-576c-4a49-8ea8-762de4d73ff8",
      "name": "Message a model1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Tally Trigger').item.json.question_qOLl8g.value }}",
        "subject": "Re: Your onboarding form",
        "emailType": "text",
        "message": "={{ $('Message a model1').item.json.output[0].content[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        1360
      ],
      "id": "50cbadff-886e-40fe-b9ef-509b6fd4e6a1",
      "name": "Send a message2",
      "webhookId": "9270c220-85e3-4e5c-8a3c-10ce618fef12",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "vHUGKaQS1SMykZin",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        1360
      ],
      "id": "74b6df61-9f21-484c-90f5-3b6d86595e31",
      "name": "Wait1",
      "webhookId": "50a7c7ce-ef97-45f5-b80d-8f7c2c7e4e5c"
    },
    {
      "parameters": {
        "content": "## Foundational Concept \n",
        "height": 80,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        1600
      ],
      "id": "dc267eec-186f-46f3-8f68-847c40dedcc6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        1744
      ],
      "id": "5a833d28-2ce6-43c4-9826-d7a828c3d5f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g",
          "mode": "list",
          "cachedResultName": "n8n practice spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        1744
      ],
      "id": "108c4492-a799-4972-917e-9170ba9d9ff8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zqChsD9mDItoJsXo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent writing assistant.\n",
              "role": "model"
            },
            {
              "content": "=\nGuidelines:\n1. Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language, corporate jargon, or fake enthusiasm.\n2. Look for plausible (but vague) connections wherever possible using their provided LinkedIn data.\n3. Do not just repeat data from the LinkedIn profile verbatim. Paraphrase everything so it looks like a human wrote it quickly.\n4. Make sure the subject line is non-capitalized, even if it's grammatically incorrect. This makes the email seem human.\n5. Respond ONLY in valid JSON using this exact format to map to our database:\n\n{\"Subject\":\"\", \"Icebreaker\":\"\", \"ElevatorPitch\":\"\", \"CallToAction\":\"\", \"Postscript\":\"\"}\n\n\n\n"
            },
            {
              "content": "=Candidate Data:\n- First Name: {{ $json['First Name'] }}\n- Last Name: {{ $json['Last Name'] }}\n- Title: {{ $json['Title'] }}\n- Company: {{ $json['Company Name'] }}\n- Summary: {{ $json['Summary'] }}\n- Description: {{ $json['Description on LinkedIn profile'] }}\n\nBased on the candidate data. i want you to generate Subject, Icebreaker, ElevatorPitch, CallToAction and Postscript. \n\nhere are the remplate i want you to follow:\n\nSubject : \"Hey {name} think i have something for you re: {UniquethingAboutThemOrTheCompany}\"\n\nIcebreaker : \"I know you are working on {thing} and I've been following {similarThings} for a while. So i figure having chat make sence.\"\n\nElevatorPitch : \"i think i can add ~5k/mon to {theirBusiness} with few automated systems\"\n\nCallToAction : \"I just did this for a very similar {industry} company and we hit $28,520 in few months they do {relatedThings} so I am very confident I can duplicage this a minimum. Would be 100% risk free and I'd gaurantee at least 20 ppts or you pay nothing. \"\n\nPpstscript : even though we just chat I'd love to hear what your doing with {things}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -32,
        1744
      ],
      "id": "5bb15508-0752-4aa2-a09a-3e9e75dc8b80",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "wo6ePzbDuV1SDYMi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g",
          "mode": "list",
          "cachedResultName": "n8n practice spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17V7LVrflcKAfLC5tz6h-n5wQyNyAYHLjQQuXwJBf19g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "Full Name": "={{ $('Get row(s) in sheet').item.json['Full Name'] }}",
            "First Name": "={{ $('Get row(s) in sheet').item.json['First Name'] }}",
            "Last Name": "={{ $('Get row(s) in sheet').item.json['Last Name'] }}",
            "Title": "={{ $('Get row(s) in sheet').item.json.Title }}",
            "Company Name": "={{ $('Get row(s) in sheet').item.json['Company Name'] }}",
            "Profile URL": "={{ $('Get row(s) in sheet').item.json['Profile URL'] }}",
            "Summary": "={{ $('Get row(s) in sheet').item.json.Summary }}",
            "Description on LinkedIn profile": "={{ $('Get row(s) in sheet').item.json['Description on LinkedIn profile'] }}",
            "Subject": "={{ $json.Subject }}",
            "Icebreaker": "={{ $json.Icebreaker }}",
            "ElevatorPitch": "={{ $json.ElevatorPitch }}",
            "CallToAction": "={{ $json.CallToAction }}",
            "Postscript": "={{ $json.Postscript }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile URL",
              "displayName": "Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description on LinkedIn profile",
              "displayName": "Description on LinkedIn profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ElevatorPitch",
              "displayName": "ElevatorPitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CallToAction",
              "displayName": "CallToAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postscript",
              "displayName": "Postscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        1744
      ],
      "id": "95d5463d-4768-4e4d-8915-1e3f28b62f09",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zqChsD9mDItoJsXo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawText = $json.content.parts[0].text;\n\nconst cleaned = rawText.replace(/```json|```/g, '').trim();\n\nconst parsed = JSON.parse(cleaned);\n\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1744
      ],
      "id": "4e4c6b89-597f-4970-b5ab-58087008558a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Icebreaker }}.\n\n{{ $json.ElevatorPitch }}.\n\n{{ $json.CallToAction }}.\n\nps: {{ $json.Postscript }}",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        1744
      ],
      "id": "1d6cd7ed-24ec-4689-95f3-fd63d7a7209c",
      "name": "Create a draft",
      "webhookId": "9270c220-85e3-4e5c-8a3c-10ce618fef12",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "G7Nt7r8BqilAC6o5",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name : ": "Nadim",
          "Last Name : ": "Tushar",
          "E-mail : ": "www.nutonsami@gmail.com",
          "Phone Number :": "017 4444 5555",
          "Work Description : ": "Multi modal automated rag system",
          "Site Type :": "Luxurious",
          "Timeline : ": "1-3 weeks",
          "submittedAt": "2026-06-06T13:00:03.510+06:00",
          "formMode": "test"
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "output": [
            {
              "id": "msg_012a728e8e9ba30d006a23c5e63748819b9f9c5d3eb6836c3a",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "Hello Nadim,\n\nI hope you’re well. I just received your onboarding form. It looks like you’d like us to build a multimodal automated Retrieval-Augmented Generation (RAG) system. You prefer the site to be luxurious, and the project timeline is 1–3 weeks.\n\nCould you please confirm your phone number, 017 4444 5555, one last time?\n\nThanks,\nNSS"
                }
              ],
              "role": "assistant"
            }
          ]
        }
      }
    ],
    "Message a model1": [
      {
        "json": {
          "output": [
            {
              "id": "msg_01c3dd9f838f0d7a006a2975f355b88197bda701fbb893bc61",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "Hello Liam,\n\nI hope you're doing well.\n\nCould you please confirm your message: \"I am from Tally. Congratulations — your n8n operation is working.\"?\n\nThanks,\nNSS\n\nLiam Harrison\n+1 (678) 214-9053\n2022-3-60-063@std.ewubd.edu"
                }
              ],
              "role": "assistant"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e19f280e-445f-4f39-8d49-2a41b633752c",
  "meta": {
    "instanceId": "f99fbbd6fe663db28cdbdbb0b59dd1c687fc71b61efc2b434ee4f576b387a0ca"
  },
  "nodeGroups": [],
  "id": "h3j4y4gnGOh3tEHJ",
  "tags": []
}