Web Scrapper.json
{
  "name": "Web Scrapper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e8d36fa6-3da3-4b45-833e-c3d4bd10da82",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://leftclick.ai/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1fc1eafc-1f2c-428e-b3af-552eb21d7299",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "p, h1, h2, h3, h4, h5, h6",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "d02264cf-d00e-4875-8fa6-43765f50a64d",
      "name": "HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent, helpful web scrapping assistent.",
              "role": "model"
            },
            {
              "content": "Your tast is to take input of bunch of text of a website and provide me some data based on the input texts in this JSON format.\n\n{\"summary\": \"\", \"threeUniquePoints\": [], \"probableCustomerDemographic\": \"\", \"contactInformationIfAny\": [{}]}\n"
            },
            {
              "content": "=--\n{{ $json.text.join(\"/n\") }}\n\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "966e0ea5-03e7-408f-916a-2bd924ad9aac",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wo6ePzbDuV1SDYMi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items (initial, buggy version — see bug 003)\nconst rawText = $input.first().json.content.parts[0].text;\nconst cleaned = rawText.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "76fa7918-77aa-4e1c-8cfc-8d00ef1afb51",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "data": "<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>LeftClick AI — AI Growth Systems by Nick Saraev</title><meta name=\"description\" content=\"LeftClick builds AI-driven growth systems for agencies and service businesses. Founded by Nick Saraev (400K YouTube subscribers, #1 Skool community). Tens of millions generated across SMB and enterprise clients.\"><meta property=\"og:type\" content=\"website\"><meta property=\"og:title\" content=\"LeftClick AI — AI Growth Systems by Nick Saraev\"><meta property=\"og:description\" content=\"AI-driven consulting and growth systems for agencies. Founded by Nick Saraev — 400K on YouTube, runs Maker School (#1 community on Skool), tens of millions in revenue generated for clients.\"><meta property=\"og:url\" content=\"https://leftclick.ai\"><meta property=\"og:site_name\" content=\"LeftClick AI\"><meta property=\"og:image\" content=\"https://leftclick.ai/scraped/images/68a61ce7b892425f06852747_hero-bg.webp\"><meta name=\"twitter:card\" content=\"summary_large_image\"><meta name=\"twitter:title\" content=\"LeftClick AI — AI Growth Systems by Nick Saraev\"><meta name=\"twitter:description\" content=\"AI-driven growth systems for agencies. Founded by Nick Saraev — 400K YouTube subs, #1 Skool community, tens of millions generated for clients.\"><meta name=\"twitter:image\" content=\"https://leftclick.ai/scraped/images/68a61ce7b892425f06852747_hero-bg.webp\"><meta name=\"twitter:site\" content=\"@nicksaraev\"><meta name=\"twitter:creator\" content=\"@nicksaraev\"><meta name=\"author\" content=\"Nick Saraev\"><meta name=\"robots\" content=\"index, follow\"><link rel=\"canonical\" href=\"https://leftclick.ai\"><script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https://leftclick.ai/#website\",\"name\":\"LeftClick AI\",\"alternateName\":[\"LeftClick\",\"LeftClick AI\"],\"url\":\"https://leftclick.ai\",\"inLanguage\":\"en\",\"publisher\":{\"@id\":\"https://leftclick.ai/#organization\"},\"about\":{\"@id\":\"https://leftclick.ai/#organization\"}},{\"@type\":\"Organization\",\"@id\":\"https://leftclick.ai/#organization\",\"name\":\"LeftClick AI\",\"alternateName\":\"LeftClick\",\"url\":\"https://leftclick.ai\",\"logo\":\"https://leftclick.ai/scraped/images/68a618d396a36e0b2d5602a5_Vector.svg\",\"description\":\"AI-driven consulting and growth systems for agencies and service businesses. Tens of millions in revenue generated across SMB and enterprise clients using proprietary AI systems.\",\"foundingDate\":\"2022-03\",\"telephone\":\"+1-604-723-1522\",\"areaServed\":[\"CA\",\"US\",\"GB\",\"AU\"],\"founder\":{\"@type\":\"Person\",\"@id\":\"https://nicksaraev.com/#person\"},\"sameAs\":[\"https://www.youtube.com/@nicksaraev\",\"https://www.instagram.com/nicksaraev/\",\"https://www.linkedin.com/in/nicksaraev/\",\"https://x.com/nicksaraev\",\"https://www.skool.com/makerschool\",\"https://www.linkedin.com/company/leftclickhq\",\"https://maps.google.com/?cid=6973619772095785148\",\"https://www.capterra.com/p/10045497/LeftClick/\",\"https://clutch.co/profile/leftclick\",\"https://www.f6s.com/company/leftclick\"],\"contactPoint\":{\"@type\":\"ContactPoint\",\"contactType\":\"sales\",\"url\":\"https://leftclick.ai/#book\",\"telephone\":\"+1-604-723-1522\"}},{\"@type\":\"Person\",\"@id\":\"https://nicksaraev.com/#person\",\"name\":\"Nick Saraev\",\"jobTitle\":\"CEO & Founder\",\"url\":\"https://leftclick.ai\",\"description\":\"AI entrepreneur with 400K YouTube subscribers. Founder of LeftClick AI and Maker School (#1 no-code community on Skool, 10,000+ graduates). Has generated tens of millions in revenue across SMB and enterprise clients with proprietary AI systems.\",\"sameAs\":[\"https://www.youtube.com/@nicksaraev\",\"https://www.instagram.com/nick_saraev/\",\"https://x.com/nicksaraev\",\"https://www.linkedin.com/in/nick-saraev\",\"https://www.skool.com/@nick-saraev\",\"https://leftclicker.gumroad.com/\",\"https://nicksaraev.medium.com/\",\"https://scholar.google.com/citations?user=k4hYWcMAAAAJ\"],\"worksFor\":{\"@id\":\"https://leftclick.ai/#organization\"},\"knowsAbout\":[\"AI automation\",\"cold email optimization\",\"YouTube growth\",\"AI agents\",\"n8n\",\"Claude Code\",\"lead generation\",\"no-code AI workflows\"]},{\"@type\":\"OfferCatalog\",\"name\":\"AI Growth Services\",\"provider\":{\"@type\":\"Organization\",\"name\":\"LeftClick AI\"},\"itemListElement\":[{\"@type\":\"Service\",\"name\":\"AI Lead Generation\",\"description\":\"AI-powered cold email, outbound automation, and content systems that generate qualified leads at scale.\"},{\"@type\":\"Service\",\"name\":\"Revenue Operations\",\"description\":\"CRM automation, pipeline optimization, and AI nurture sequences to maximize close rates.\"},{\"@type\":\"Service\",\"name\":\"Frontend Experiences\",\"description\":\"Custom web apps, landing pages, and interactive demos built for conversion.\"},{\"@type\":\"Service\",\"name\":\"Hiring Systems\",\"description\":\"AI-scored intake funnels and trial automation for hiring at scale.\"},{\"@type\":\"Service\",\"name\":\"Backend Infrastructure\",\"description\":\"Scalable backend systems, API integrations, and data pipelines.\"}]}]}</script><style>\n@font-face {\nfont-family: 'Dmsans';\nsrc: url('fonts/DMSans-Regular.woff2') format('woff2'), url('fonts/DMSans-Regular.ttf') format('truetype');\nfont-weight: 400;\nfont-style: normal;\nfont-display: swap;\n}\n@font-face {\nfont-family: 'Dmsans';\nsrc: url('fonts/DMSans-Medium.woff2') format('woff2'), url('fonts/DMSans-Medium.ttf') format('truetype');\nfont-weight: 500;\nfont-style: normal;\nfont-display: swap;\n}\n</style><link rel=\"stylesheet\" href=\"styles.css\"><link rel=\"icon\" type=\"image/x-icon\" href=\"favicon.ico\"><link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"favicon-32.png\"><link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"apple-touch-icon.png\"><link rel=\"preload\" as=\"font\" href=\"fonts/DMSans-Regular.woff2\" type=\"font/woff2\" crossorigin><link rel=\"preload\" as=\"font\" href=\"fonts/DMSans-Medium.woff2\" type=\"font/woff2\" crossorigin></head><body class=\"leftclick-body\"><div class=\"leftclick-section header-wrap\"><div class=\"common-wrap\"><div class=\"header-inner\"><a href=\"/\" class=\"main-logo\"><img fetchpriority=\"low\" src=\"scraped/images/68a618d396a36e0b2d5602a5_Vector.svg\" alt=\"LeftClick\" class=\"full-width\"></a><nav class=\"nav-wrap\"><a class='nav-link' href='/services'>Services</a><a class='nav-link' href='/about'>About</a></nav><div class=\"header-btn\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Let's talk</div><div class=\"btn-text-hover\">Let's talk</div></div><div class=\"btn-icon-box\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon-hover\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon\"></div></a></div><button class=\"menu-btn\" aria-label=\"Menu\"><span class=\"menu-bar\"></span><span class=\"menu-bar\"></span><span class=\"menu-bar\"></span></button></div></div></div><div class=\"mobile-menu\"><nav class=\"mobile-menu-nav\"><a class='mobile-menu-link' href='/services'>Services</a><a class='mobile-menu-link' href='/about'>About</a><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"mobile-menu-link\">Let's talk</a></nav></div><main class=\"leftclick-section\"><section class=\"leftclick-section hero-wrap\"><div class=\"common-wrap\"><div class=\"hero-inner\"><div class=\"hero-title\"><h1 class=\"h1\">The definitive AI growth partner for fast-moving B2B companies.</h1></div><p class=\"hero-sub\">AI systems that generate leads, close deals, and scale operations. Built by a team that has done it across 20+ industries.</p><div class=\"hero-stats\"><div class=\"hero-stat\"><div class=\"hero-stat-num\">$10M+</div><div class=\"hero-stat-label\">revenue generated</div></div><div class=\"hero-stat\"><div class=\"hero-stat-num\">20+</div><div class=\"hero-stat-label\">industries served</div></div><div class=\"hero-stat\"><div class=\"hero-stat-num\">1M+</div><div class=\"hero-stat-label\">followers worldwide</div></div><div class=\"hero-stat\"><div class=\"hero-stat-num\">7 yrs</div><div class=\"hero-stat-label\">production AI</div></div></div><div class=\"hero-btn\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Let's talk</div><div class=\"btn-text-hover\">Let's talk</div></div><div class=\"btn-icon-box\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon-hover\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon\"></div></a></div></div></div></section><section class=\"leftclick-section marquee-section\"><div class=\"common-wrap marquee-label-wrap\"><div class=\"marquee-label\">Nick & his team have worked with</div></div><div class=\"marquee-wrap\"><div class=\"marquee-track\"><span class=\"marquee-item\">Anthropic</span><span class=\"marquee-item\">MrBeast</span><span class=\"marquee-item\">Notion</span><span class=\"marquee-item\">Wix</span><span class=\"marquee-item\">HeyGen</span><span class=\"marquee-item\">VEED</span><span class=\"marquee-item\">Lightricks</span><span class=\"marquee-item\">Durable</span><span class=\"marquee-item\">Anthropic</span><span class=\"marquee-item\">MrBeast</span><span class=\"marquee-item\">Notion</span><span class=\"marquee-item\">Wix</span><span class=\"marquee-item\">HeyGen</span><span class=\"marquee-item\">VEED</span><span class=\"marquee-item\">Lightricks</span><span class=\"marquee-item\">Durable</span><span class=\"marquee-item\">Anthropic</span><span class=\"marquee-item\">MrBeast</span><span class=\"marquee-item\">Notion</span><span class=\"marquee-item\">Wix</span><span class=\"marquee-item\">HeyGen</span><span class=\"marquee-item\">VEED</span><span class=\"marquee-item\">Lightricks</span><span class=\"marquee-item\">Durable</span><span class=\"marquee-item\">Anthropic</span><span class=\"marquee-item\">MrBeast</span><span class=\"marquee-item\">Notion</span><span class=\"marquee-item\">Wix</span><span class=\"marquee-item\">HeyGen</span><span class=\"marquee-item\">VEED</span><span class=\"marquee-item\">Lightricks</span><span class=\"marquee-item\">Durable</span></div></div></section><section class=\"leftclick-section about-section\"><div class=\"common-wrap\"><div class=\"about-inner\"><div class=\"about-content-wrap\"><div class=\"about-content\"><h2 class=\"h2\">$10M+ in revenue generated for clients.</h2><p class=\"lead-text\" style=\"margin-top:.75em\">Nick &amp; his team scaled Dental Media Corp from a regional shop to $2M/yr, built 1SecondCopy to $90K/mo with just 2 operators, and grew Maker School to $250K/mo using the same automations we sell to clients. We dive deep into the heart of your business to fix real, practical problems; actual ways to drive revenue &amp; grow.</p><div class=\"hero-btn\" style=\"margin-top:1em\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Let's talk</div><div class=\"btn-text-hover\">Let's talk</div></div><div class=\"btn-icon-box\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon-hover\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon\"></div></a></div></div><div class=\"about-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68b20b6bda8a4810d7178ecb_maxresdefault_20_2_.webp\" alt=\"Nick Saraev at Skool Games with Alex Hormozi\" class=\"about-thumb-img\" style=\"aspect-ratio:16/9;object-fit:cover;object-position:center center\"></div></div></div></div></section><section id=\"case-studies\" class=\"leftclick-section case-studies-section\"><div class=\"common-wrap\"><div class=\"case-studies-inner\"><div class=\"titile-wrap centered\"><h2 class=\"h2\">Some of our work.</h2><p class=\"lead-text max-800\" style=\"margin-top:.5em\">Real results from real engagements. Every project below was built, deployed, and managed by our team. <a class='inline-link' href='/services'>See all services &amp; industries &rarr;</a></p></div><div class=\"case-studies-wrap\"><a class='case-studies-card' href='/case-studies/1secondcopy'><div class=\"case-studies-card-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/case-1secondcopy.webp\" alt=\"LeftClick case study: 1SecondCopy\" class=\"case-studies-card-img\"><div class=\"link-icon-box case-studies-link-box\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon-hover\"></div></div><div class=\"case-studies-card-info\"><div class=\"case-studies-card-name\">1SecondCopy</div><div class=\"case-studies-card-outcome\">$90,000/m, 2 operators.</div></div></a><a class='case-studies-card' href='/case-studies/dental-media-corp'><div class=\"case-studies-card-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/case-dmc.webp\" alt=\"LeftClick case study: Dental Media Corp\" class=\"case-studies-card-img\"><div class=\"link-icon-box case-studies-link-box\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon-hover\"></div></div><div class=\"case-studies-card-info\"><div class=\"case-studies-card-name\">Dental Media Corp</div><div class=\"case-studies-card-outcome\">Regional PPC shop to $2M/yr revenue.</div></div></a><a class='case-studies-card' href='/case-studies/xwecan'><div class=\"case-studies-card-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/case-xwecan.webp\" alt=\"LeftClick case study: XWECAN\" class=\"case-studies-card-img\"><div class=\"link-icon-box case-studies-link-box\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/68a6cd1d980038fbad829f41_Img.svg\" alt=\"\" class=\"link-icon-hover\"></div></div><div class=\"case-studies-card-info\"><div class=\"case-studies-card-name\">XWECAN</div><div class=\"case-studies-card-outcome\">Featured in Forbes, WSJ, Fortune, BBC &amp; more.</div></div></a></div></div></div></section><section id=\"about\" class=\"leftclick-section about-us-section\"><div class=\"common-wrap\"><div class=\"about-us-inner\"><div class=\"titile-wrap centered\"><h2 class=\"h2\">Building with AI since 2019.</h2><p class=\"lead-text max-800\">Nick was early to spot the business utility of generative AI. In 2019, well before ChatGPT, he started building with early image and language models to create one of the largest content agencies in Canada.</p></div><div class=\"team-wrap\"><div class=\"team-item\"><div class=\"team-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/team-nick-padded.webp\" alt=\"Nick Saraev\" class=\"team-thumb-img\"></div><div class=\"team-content\"><h3 class=\"h5 team-content-heading\">Nick Saraev</h3><div class=\"team-content-title\">CEO / Talent</div><p class=\"p\">Nick runs a 400K-subscriber YouTube channel and <a href=\"https://www.skool.com/makerschool\" target=\"_blank\" rel=\"noopener\" class=\"inline-link\">Maker School</a>, the #1 AI community on Skool ($250K/mo, 10,000+ graduates). He has generated over $10M in revenue for clients across 20+ industries using proprietary AI systems.<br><br>His public track record and exposure to top-tier talent lets him source exceptional, senior-level development in days, not months.</p></div></div><div class=\"team-item\"><div class=\"team-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/team-cody-final.webp\" alt=\"Cody McLean\" class=\"team-thumb-img\"></div><div class=\"team-content\"><h3 class=\"h5 team-content-heading\">Cody McLean</h3><div class=\"team-content-title\">Head of AI Solutions</div><p class=\"p\">Cody spent 8 years leading Hill&amp;Foster, designing and shipping software for 200+ clients, including the Government of California, Lululemon, and QubeIoT. His work is relied on by millions daily. <br><br>At LeftClick, he applies that full-stack expertise to architecting AI-driven automations, intelligent workflows, and end-to-end systems that cut overhead and accelerate growth for every client we take on.</p></div></div><div class=\"team-item\"><div class=\"team-thumb\"><img loading=\"lazy\" decoding=\"async\" src=\"scraped/images/team-george-final.webp\" alt=\"George Dinu\" class=\"team-thumb-img\"></div><div class=\"team-content\"><h3 class=\"h5 team-content-heading\">George Dinu</h3><div class=\"team-content-title\">Head of Delivery</div><p class=\"p\">George owns the end-to-end technical execution of every client engagement. He architects backend systems, automation pipelines, and AI infrastructure, turning strategic roadmaps into production-grade solutions that run reliably at scale. <br><br>With deep expertise across cloud architecture, data engineering, and systems integration, George ensures that what we promise in the boardroom actually ships. Tested, documented, and built to last.</p></div></div></div></div></div></section><section class=\"leftclick-section why-section\"><div class=\"common-wrap\"><div class=\"why-inner\"><div class=\"titile-wrap centered\"><h2 class=\"h2\">We don't just advise. We build.</h2></div><div class=\"why-grid\"><div class=\"why-card\"><h3 class=\"why-card-title\">Building with AI since 2019</h3><p class=\"why-card-text\">We were building with early image and language models (like GPT-2) before ChatGPT existed, and have seven years of production AI systems under our belts.</p></div><div class=\"why-card\"><h3 class=\"why-card-title\">Fixed price, no surprises</h3><p class=\"why-card-text\">Every engagement gets a clear scope, timeline, and fixed price. No hourly billing, no scope creep, no mystery invoices.</p></div><div class=\"why-card\"><h3 class=\"why-card-title\">Public track record</h3><p class=\"why-card-text\">Nick has built in public since 2024, and teaches AI to over 1M followers worldwide. Every system we sell has been demonstrated, explained, and stress-tested in public, hundreds of thousands of times.</p></div><div class=\"why-card\"><h3 class=\"why-card-title\">We use our own systems</h3><p class=\"why-card-text\">All of our companies and products (LeftClick, Maker School, DMC, Clairvo) use the same automations we help you install. Our systems work because we depend on them, too.</p></div></div></div></div></section><section class=\"leftclick-section training-section\"><div class=\"common-wrap\"><div class=\"training-inner\"><div class=\"training-text\"><h2 class=\"h2\">And we teach, too.</h2><p class=\"lead-text\" style=\"margin-top:.75em\">Nick's Claude Code course has over 1.5M views on YouTube and 20M+ views across X and other platforms. His content shows teams how to implement AI into deliverables for more scale at less cost, and we run workshops all over the world educating midmarket and enterprise organizations on leveraging AI.</p><div class=\"training-stats\"><div class=\"training-stat\"><div class=\"training-stat-num\">20M+</div><div class=\"training-stat-label\">views across platforms</div></div><div class=\"training-stat\"><div class=\"training-stat-num\">1.5M+</div><div class=\"training-stat-label\">YouTube views</div></div><div class=\"training-stat\"><div class=\"training-stat-num\">400K+</div><div class=\"training-stat-label\">subscribers</div></div></div><div class=\"hero-btn\" style=\"margin-top:1.5em\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Book a workshop</div><div class=\"btn-text-hover\">Book a workshop</div></div><div class=\"btn-icon-box\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon-hover\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon\"></div></a></div></div><div class=\"training-video\"><div class=\"training-video-wrap\"><iframe src=\"https://www.youtube.com/embed/QoQBzR1NIqI\" title=\"Claude Code Full Course\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen loading=\"lazy\"></iframe></div></div></div></div></section><section id=\"reviews\" class=\"leftclick-section reviews-section\"><div class=\"common-wrap\"><div class=\"reviews-inner\"><div class=\"titile-wrap centered\"><h2 class=\"h2\">From first call to launch.</h2></div><div class=\"process-steps\"><div class=\"process-step\"><div class=\"process-step-num\">Step 01</div><h3 class=\"h5 process-step-title\">Funnel map audit</h3><p class=\"p\">A free 30-minute session where we audit your funnel, identify bottlenecks, and map out exactly where AI can move the needle.</p></div><div class=\"process-step\"><div class=\"process-step-num\">Step 02</div><h3 class=\"h5 process-step-title\">Proposal</h3><p class=\"p\">We deliver a clear scope, timeline, and fixed price. No surprises, no hourly billing. You know exactly what you're getting.</p></div><div class=\"process-step\"><div class=\"process-step-num\">Step 03</div><h3 class=\"h5 process-step-title\">Project</h3><p class=\"p\">Our team builds, tests, and deploys your systems. You get weekly updates and a working product, not a deck full of promises.</p></div><div class=\"process-step\"><div class=\"process-step-num\">Step 04</div><h3 class=\"h5 process-step-title\">Ongoing management</h3><p class=\"p process-optional\">Optional retainer for monitoring, optimization, and iteration. Most clients see compounding returns over time.</p></div></div></div></div></section><section class=\"leftclick-section cta-section\"><div class=\"cta-glow\"></div><div class=\"common-wrap\"><div class=\"cta-inner\"><h2 class=\"h2 cta-heading\">Ready to scale with AI?</h2><p class=\"lead-text cta-sub\">Book a free 30-minute growth mapping call. We'll audit your funnel, find the bottlenecks, and show you exactly where AI moves the needle.</p><p style=\"color:hsla(0,0%,100%,.35);font-size:.85em;margin-top:.25em\">Engagements typically start at $5K. Most projects range $10K-$50K.</p><div class=\"cta-btn-wrap\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Book a free growth call</div><div class=\"btn-text-hover\">Book a free growth call</div></div><div class=\"btn-icon-box\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon-hover\"><img fetchpriority=\"low\" src=\"scraped/images/68a614961526d612ba759e26_Container.svg\" alt=\"\" class=\"btn-icon\"></div></a></div></div></div></section></main><section class=\"leftclick-section footer-section\"><div class=\"common-wrap\"><div class=\"footer-inner\">\n  <div class=\"footer-top\">\n    <div class=\"footer-text-wrap\"><p class=\"footer-h6\">Work with us</p><p class=\"lead-text\">Start with a free, thirty-minute growth mapping call.</p><div class=\"footer-btn\"><a href=\"https://cal.com/codymclean/30min?source=website\" target=\"_blank\" rel=\"noopener\" class=\"btn btn-light\"><div class=\"btn-text-wrap\"><div class=\"btn-text\">Let's talk</div><div class=\"btn-text-hover\">Let's talk</div></div><div class=\"btn-icon-box dark-bg\"><img src=\"/scraped/images/68a7178e15c36fdfc68f911d_Vector_20_1_.svg\" alt=\"\" class=\"btn-icon-hover\"><img src=\"/scraped/images/68a7178e15c36fdfc68f911d_Vector_20_1_.svg\" alt=\"\" class=\"btn-icon\"></div></a></div></div>\n    <div class=\"footer-columns\">\n      <div class=\"footer-col\"><p class=\"footer-col-heading\">Services</p><a class='footer-link' href='/ai-automation'>AI Automation</a><a class='footer-link' href='/ai-lead-generation'>AI Lead Generation</a><a class='footer-link' href='/ai-agents'>Custom AI Agents</a><a class='footer-link' href='/crm-sales-automation'>CRM &amp; Sales Automation</a><a class='footer-link' href='/workshops'>AI Workshops</a><a class='footer-link' href='/services'>All Services</a></div>\n      <div class=\"footer-col\"><p class=\"footer-col-heading\">Company</p><a class='footer-link' href='/about'>About</a><a class='footer-link' href='/about-nick-saraev'>Nick Saraev</a><a class='footer-link' href='/case-studies'>Case Studies</a><a class='footer-link' href='/industries'>Industries</a><a class='footer-link' href='/careers'>Careers</a><a class='footer-link' href='/press'>Press</a></div>\n      <div class=\"footer-col\"><p class=\"footer-col-heading\">Resources</p><a class='footer-link' href='/what-is-leftclick'>What is LeftClick?</a><a class='footer-link' href='/pricing'>Pricing</a><a class='footer-link' href='/process'>Our Process</a><a class='footer-link' href='/faq'>FAQ</a><a class='footer-link' href='/reviews'>Results &amp; Reviews</a><a class='footer-link' href='/contact'>Contact</a></div>\n      <div class=\"footer-col\"><p class=\"footer-col-heading\">Connect</p><a href=\"https://www.youtube.com/@nicksaraev\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">YouTube</a><a href=\"https://www.linkedin.com/company/leftclickhq\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">LinkedIn</a><a href=\"https://www.instagram.com/nicksaraev/\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">Instagram</a><a href=\"https://x.com/nicksaraev\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">X / Twitter</a><a href=\"https://www.skool.com/makerschool\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">Maker School</a><a href=\"https://www.youtube.com/playlist?list=PLSbQllRagIuR2C9Aiy_-RtUEC9Q3NbKaB\" target=\"_blank\" rel=\"noopener\" class=\"footer-link\">Free Courses</a></div>\n    </div>\n  </div>\n  <div class=\"footer-divider\"></div>\n  <div class=\"footer-bottom\">\n    <div class=\"footer-bottom-left\"><a href=\"/\" class=\"footer-logo\"><img src=\"/scraped/images/68a7178ed1fb73f01b06d39a_Vector.svg\" alt=\"LeftClick\" class=\"full-width\"></a></div>\n    <div class=\"footer-bottom-center\"><div class=\"footer-bottom-link-wrap\"><a class='footer-nav-link' href='/privacy'>Privacy Policy</a><a class='footer-nav-link' href='/terms'>Terms of Service</a></div></div>\n    <div class=\"footer-bottom-right\"><div class=\"copyright-text\">&copy; 2026 LeftClick Inc. All rights reserved.</div></div>\n  </div>\n</div></div></section><script src=\"interactions.js\" defer></script><button class=\"dark-mode-toggle\" id=\"darkToggle\" aria-label=\"Toggle dark mode\"><svg class=\"dark-mode-icon sun\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"5\"/><path d=\"M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42\"/></svg><svg class=\"dark-mode-icon moon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\"/></svg></button><script>\n(function() {\nconst toggle = document.getElementById('darkToggle');\nconst body = document.body;\nconst saved = localStorage.getItem('darkMode');\nif (saved === 'true' || (saved === null && window.matchMedia('(prefers-color-scheme: dark)').matches)) {\nbody.classList.add('dark-mode');\n}\ntoggle.addEventListener('click', () => {\nbody.classList.toggle('dark-mode');\nlocalStorage.setItem('darkMode', body.classList.contains('dark-mode'));\n});\n})();\n</script></body></html>\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"summary\": \"LeftClick is an AI growth agency that builds and deploys custom AI systems and automations designed to help B2B companies scale operations and increase revenue. Led by Nick Saraev, Cody McLean, and George Dinu, the team leverages years of experience (since 2019) to provide fixed-price solutions for lead generation, sales, and backend infrastructure, having generated over $10M for their clients.\",\n  \"threeUniquePoints\": [\n    \"Longevity and Expertise: They have been building production-grade AI systems since 2019, well before the mainstream popularity of ChatGPT.\",\n    \"Fixed-Price Model: Every project operates on a clear scope, timeline, and fixed price, intentionally avoiding hourly billing and 'mystery' invoices.\",\n    \"Internal Validation: The team uses the exact same automations they sell to clients to run their own successful businesses, such as Maker School and 1SecondCopy.\"\n  ],\n  \"probableCustomerDemographic\": \"Fast-moving B2B companies, mid-market to enterprise organizations, and business owners looking to scale operations through automation with project budgets ranging from $10,000 to $50,000.\",\n  \"contactInformationIfAny\": [\n    {\n      \"type\": \"Call Booking\",\n      \"description\": \"Free 30-minute growth mapping call/funnel audit\",\n      \"link\": \"Available via 'Work with us' or 'Book a call' buttons on site\"\n    },\n    {\n      \"type\": \"Key Personnel\",\n      \"name\": \"Nick Saraev\",\n      \"platform\": \"YouTube/Skool\",\n      \"link\": \"https://www.skool.com/makerschool\"\n    },\n    {\n      \"type\": \"Key Personnel\",\n      \"name\": \"Cody McLean\",\n      \"role\": \"Architecting AI-driven automations\"\n    },\n    {\n      \"type\": \"Key Personnel\",\n      \"name\": \"George Dinu\",\n      \"role\": \"Technical execution and backend architecture\"\n    }\n  ]\n}\n```",
                "thoughtSignature": "Er4eCrseAQw51scgCJbc/m2CZA2oIAdI0CKfpTW+etTd0RzkeJ5JDLBZcq9uL6Iz1dJK51bO7CEm7q2On9qElSCK2RI9ewJCcr+Nx0GfN1eqXqD11m0YUffYGPQ0qBz6fNhQj7qkntNk69mnzxGA2Jpzsb70OtYCA+ZKXEALySmGYMnHoFv4nul/4hUEPhpEaHkLLITdYBnehi9/ciNPubqEHQy6hUcD6A03UhRBtEmLNYPkgXZwnnJW1b+H1QlurLttZ80B2rBxiH6baFE+8dy3aqPZ6fgsvpVsFhSfJiQhDUc6qTSoYisiImPjkwQnwWWhu4Sgz7d1+eqgkIGlTwFn6UjgdO2lqWBidh38X77xBgxRqsxqPb5rGfNcfoYDDV1YiT5LKNwjbQ+R5pGdFcEPOv+5T25hE15QvcwNDG+gg6I5ECYrJNzcCvJITwmrGTEbiYo8IMBreC8W7VbUTTUsxWOsf61ygrGwD8N9q+Mk8lpDavXp2SZuzPNlczOVdtX6D/V3KtK+SE/zf1BEBseDXvsNK+KyEZJPHV0VaeDaOnt/8nsiF67QLkJkqZjFqp2nqR3Cgt9DTsT2irwkxjPWB38yYhbwaPkZ4ZrZQTCOjmw4rxW8AQQfopfz+rqdpq+4IxvkZfsCXabjF46dDvNQ+MD/c9D+VgKYSV+FhxhlE3wAyPr/l8G38jlSJFUOCWsIk71ZK2LOcSQWoqA7aG63Lf8olQcOlYkX4xLuX/phCrZywzTW937KWkKieWpFaMBMJ+6hCxNh+Kmo5MhlNJyiIfso3R1I3nX2NhRrySuCchEsc9lVfopccQsZZN7r4MmN8/3Fq23qxVddfK6dQ025WjG2sbxAiq1ZQBMEjQ3hZGcd+V8Bwao+BiYvQWVh1O+jnOKMa4Bor/Qy0QwNxYSlCbGC5bCXYnjf7aR/k0rhqi2kSWJ3HGz+1jpx9+9NOsuaC++7TEv8vggqIw6Jhu17ksB+qaqO7gfFVJ8k8ekeSJflfupkEgqTMPpXm4K9FgLDoUOZLbQjhHv0MM0uhHlyrSJYRsiw0J51ykbEA0Tqaj6kiwJl2DuU5Elazu3XE6tDQ4F8ZoIdwhoW3VsZzE50AURNxtwaiFzc7O2c4Ibn+oTkXewEtEozyNaHsmhlPgmohivMJrTPdTjmC2jhe2NKeA5XOtE60Sn8QGqiaKuU+NjwFOZwesMc8dZ/2yJbYgT17MQjhGImPAup+wKJ3UHidUIm/RhEi2sJkptzUlkPv87IOM/res9EMV4R97rzNEMI8BIuRwldDylfeUeTgsAoS586KH6un7e267bDsV9cuO4HRjhVhZPC4Aawd8WjNX/IHnJEc+iMaFWMiAhME6cPTlZmuBx1BO/Wa30rRd07VADdyW0q4MYgtePiNtmxp8HSxIsilSW1uCOkf+F2nNCD6TrufyTGvLZA1RXjaBLAeAKM+HqVPqE3AjNmwKKjx91awFPWS8s7eTz31sl6qAKFD2iuhMjY1JglQCG6ANBokXlqkpLBeE8WFYvgVsg1Rg/Mn0O88n+cQs6Eb2gjgE0Wr06A+TooSNfI/Iqg23bsiFhMk5VQKrXwPd4Z0psyqTeyvjD/1UCLgeW7wzWDZFpQbReMaIbSkYWafRL3Fe74k6F2jetV9dg9WkuWuPuEVghSfKPV8/Dn401dmQcEFqowIOHs2B34y+Xd+OFcYoSrYO5oiFXEjhEjzpScAIlebk247JtyoqHBGskpd1cFMwBxNLjpH1ceYLJ/tl91y5qX/TAsS2EPsNWf7SKu7oshqmypLMcHVvH3MJ5qY8MS939ULeziu8N12RFCvhczIg9+mFxUUl/iAIQDXzxkKRw9xvVilpGWZSUO916kDpGHQekXUSMAhFFswgn2NvdPnA7OmnXQwGprBIf5bZMibZLEh45pxnqSaK30GOxokSvPLzB9RFY1j/Aaji2F1bkSoVW6s8NEnO7igi55yLMY4rs5huZPTZIdkx/3i2wnHVC2VSLl427NGo73G+Dz9K4AdS7zJkvVO2cxHbawX5KkrieBuU4O0hB9/0fQzjO5ENZZyfD9WC8wpFcy2UhjQxJq49JfCe5y7tWqwrBMjLzGS2AjwjekuKRAON4JcKPJWIlCw9L+K4dKe+GwSc/yGoMUHiYig52dBTHKuwdSuLiEqWewRIOIZfzoFKB/ZoqqO4ua9cUKMyEzma5V2n8vdKeZShK/TzYMoHZ8lQP3GmYVIp2C9BbeAzhxM6Yhq+f2rtdfwwYAe4LCOxBKGF5Nhv71QST6fOvv78P9lPXQClXhCwKEnyRq5y7AL0kf29WLIehUEE7cTHicM1QZJr2feFR0yv2YGre7j2bHwt3ALlkCXfqHvFirFc/Ynpii3RH07JChtu7WT1wktxsm+ZoIADQhwCRJ1bNYhtC047A3nS5g9HrM9k/rnWYteZAp+oISYV4dx5hcwkge9sxo4DiUtY2bloDXBv1HrFiX7APutOFRqlKoWYV3X3hVBtHzFnU4p27zVPRI9hpsI1LHM98N3tQDslLJ9JNrIlLfo6Qda0yorVWbnTRh7bt75acOj/wxjDltoztQGkfjLpr3gC0xR/zPA0/5i1zTmesxnfeCaW5Wzoa2geCxhtRrobJSgxyCxqNXwYyLjSqwkR57qa9DfDEXo7/03xXM9RwmiQpBtnirzUNVtGCKAwWuWrCVOE4jHRObvimBIjYW512c1OBiweMQ/JFeYKU6UKkQldXBFtaDGEwCTmjxexgKAqadWdzyO+9foH79lVTdJ4QMsjKUcaJgz9XHse4ePREANfJbFw7gzSq5HoN7vxnAUQjGDyjQpvHNBn7/qmHMLqAAhHal/MojOaFD5/O/ePQ2t9PtE4r+20dBRQ9qjTolqaB9iFZl69vL4u7XPm/qZbWviYpUAOObzoiBCaNNJUqagBteG4iNnLHaY6qZtKFWS3ksjjd5waTIMpXA6OnaGwdmNCeCcrdVEvQ9B6remw1nsL4rpRj9crqzcwUxbbp7kfyDDtOx+C+NcjUDA0sXLULohjhFK72vu1657pEuQfh061eWwl/U1TtEpTtOzGtvLNZgQg8XulDTWCc0Zhf+HAtq99Ecg/JubYBcDd5sQhk/x6fQ5SyFrSW5g8mKvIQuo6z2fgS9WBbss20A6l/ucKUMBiC1Mc6NsnE3Jdzhbzhm0l56XeKZM61obElapuQYpfhz9S/UVtHYAacO9zSHB5oH005I0p5q6iVt+jjjatyATAgOSKxyp2atcrkguN+5qWwL0XenRjV9ewVn7YVV5/6kD/tF402/emmqQHrVPoIj3XuhhLBNTL957dzv+nl+twN7MyuylrECotNvDGz2Ei8rk0dc6Nq0H/GXtr+1QqMkdYHd8bnKCwwBEXz4mAl1BK3yDZ74yED87vDicA/PJtrunW2lK4z27MrWgbJGZcaTuHcF3Ha3eGEEmGwuJLPnhuYoOIg2+7lgD4bzVeLQ8kYwgdsKPdIGU9lCWEgETVAhjpRE1ygqEF8DlHQ8gwaIp8l7JZz/HHRlg9ExSvD/fb2ECn2O/PtZtqTpYbwf7Q9hv+0Nt0PNBIUYO+gmJPSOf3wzpXZj23qzxpjM/t5fXD8Cp5x6MdVXFfp/EqZUfMmYHIQi4dThCIFPJaaSmS1xwre3AAjs92XZn82WbjuWwks2+VKtWlCLV+gZInOD8kXWBUTl1omFkQfRGoMIsDcGK6zI4ru9BrwIJGTBKyoxhGi1Mh+qZlN0hKgkLscOag0FVL9S5s8Sb674UjFSac1XsHZFsm/VPxgAtvkczgwAvWOgKfM64sjEbJFESBKsbdJ9nby3w3RkQbyueC7aGc5UXNSRYKD2BTnupYwVoQOxal4PZG0M7pEXzFA7Ex9+eOItwZsZ6C64SzkuwHpeNTUX4dNsaNJpMXpITd9rB6B+3bzTuLZ9/PbNJzVx1kHpFCQMmn9zWgh4fLAMUXxCKcVG900P1i8zkG1lwKdJdBXbffWbKd7aXrDjCXCeovuoCF/6RA9LIQ49MJdlJeZn+99AoHFulOiM9DGihaY+MrX3z0jgBQhIkxxI1h9O3qOpicMEZ1oWo8rvvxLzzMXe2Q0HFo58Gkb6Ics9QU+Q7O89sMQPayRtJe9/iiDkXHgifzLdKuO9RH4aTnlLKiRv6h23jK1fyKOhtLkA+hPYNriVLurej7oi3WCT/I0u872AiLeUlxQjHG/+gM12MjwVUXzfmutaLoqD5yADDHbjVCjW2WS0ytbA74CMsBSmhH63/qaRrmcdyne9aVZ0IWDFdwWjjr9itgTzCBr4SjS+lKNw36WAAAHf8xgB229QA6cdtuXPs7sKwiBnAlV4gClB3GDlNJuS2CNpchVbzRBXYjeC+ipN6HaGCpnOB78x4DjaYnOzjs/qGcKhhyAO97vMh904wllWBKX2PEzWbkAjr9uymkBAxXJJcImRLFsEAzeV8bV0vvcBRVXm9+IE3hM8iecZqW91WkPp+f5VuD+qBFpZ/oRkNKnggVQHfKs/346uTwMr7nBxrxa63pZrpnaEl6whzd52SfkVR8sEGF29a8m+6RVc7+hacjcpcut/1flSlxNhzlbKhDIhIsFxmb9vRRURE4u5EwnkS4hTeVnWX4i/HSwspKJXHASgTbDq4QBRNeeSYh2i0kLDVhCkjCdnf9U/+y196oCXpDgj/TIthAx6XW2aFiPP/Ikiv8qYMfCnVt2BSbMtx1hAq52YUZhJwfXb634113jYA1S9ZTvNlpQKWtZtOaS8g7C36nc3o3C8zbmGslloKSrGILS5yah3+9BmBbg1x9BrQVqtd0xRzXLLyiIXfKt+cJrzu3pAzvB7Xr87d54BxQahVHryYofbIxrHOaVfgnLxD4x+49tzEDnDK7Chp1ERNGlw7d9bdaQfUg2Kllgukv/47YOyAQ0r3wVdAHTpu6fs9OIFlg/nraXaaitsbxF0Q4pk5+WBcn60+it2U8CX/IeAVVt1pcwTfy9uBD0vPBAq99KU9D5aR2MO1NhD0xUrIKfzjU1Nc1QKpZd6sb+BGhLbm6NtlNhdNuJ2NMo+Yp961m/LEiReSHbSOvU7IA8jWYM65qPTEU3ecc128RzDdse1bQX98K9fjrOs+ArM0e5ocIclZQ5fBdEbEifO+81VD73pPLBfL9nsl0GWpRavfreJpyVdI/8Cw8TGMVqI00efyeUMWj8="
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0c7af492-e7a8-46f3-9469-bbe77d607fef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f99fbbd6fe663db28cdbdbb0b59dd1c687fc71b61efc2b434ee4f576b387a0ca"
  },
  "nodeGroups": [],
  "id": "w39W85gmzDFtnkT9",
  "tags": []
}